#cloud-config
package_update: true

packages:
  - docker.io

runcmd:
  - systemctl enable docker
  - systemctl start docker
  - |
    until docker info; do
      sleep 3
    done
  - docker run -d -p 8080:80 --name backend nginx:alpine
  - |
    docker exec backend sh -c 'echo "<h1>Backend $(hostname)</h1>" > /usr/share/nginx/html/index.html'
