#cloud-config
package_update: true
packages:
  - curl
  - unzip

runcmd:
  - curl -fsSL https://releases.hashicorp.com/consul/1.18.0/consul_1.18.0_linux_amd64.zip -o consul.zip
  - unzip consul.zip
  - mv consul /usr/local/bin/
  
  - useradd --system --home /etc/consul.d --shell /bin/false consul
  - mkdir -p /etc/consul.d /var/lib/consul
  
  - |
    cat <<EOF > /etc/systemd/system/consul.service
    [Unit]
    Description=Consul Agent
    Requires=network-online.target
    After=network-online.target

    [Service]
    User=consul
    Group=consul
    ExecStart=/usr/local/bin/consul agent -config-dir=/etc/consul.d/
    ExecReload=/bin/kill -HUP \$MAINPID
    KillMode=process
    Restart=on-failure

    [Install]
    WantedBy=multi-user.target
    EOF

  - |
    PRIVATE_IP=$(hostname -I | awk '{print $1}')
    cat <<EOF > /etc/consul.d/server.hcl
    data_dir = "/var/lib/consul"
    log_level = "INFO"
    server = true
    bootstrap_expect = 1 
    ui_config {
      enabled = true
    }
    client_addr = "0.0.0.0"
    bind_addr = "${PRIVATE_IP}"
    EOF

  - chown -R consul:consul /etc/consul.d /var/lib/consul
  - systemctl daemon-reload
  - systemctl enable --now consul
